{% extends "CoreBundle::mainLayout.html.twig" %}

{% block title %}{{ parent() }}Operator{% endblock %}

{% block header_content %}
    <h1>Operator</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('_home') }}"><i class="fa fa-dashboard"></i> O&G Market</a></li>
        <li><a href="{{ path('_operator') }}"> Operator</a></li>
    </ol>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
