@font-face {
  font-family: 'helicoptr';
  src: url('../font/helicoptr.eot?34662597');
  src: url('../font/helicoptr.eot?34662597#iefix') format('embedded-opentype'),
       url('../font/helicoptr.woff?34662597') format('woff'),
       url('../font/helicoptr.ttf?34662597') format('truetype'),
       url('../font/helicoptr.svg?34662597#helicoptr') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'helicoptr';
    src: url('../font/helicoptr.svg?34662597#helicoptr') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "helicoptr";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-helico4:before { content: '\e800'; } /* '' */
.icon-helico1:before { content: '\e801'; } /* '' */
.icon-helico1-o:before { content: '\e802'; } /* '' */
.icon-helico3-o:before { content: '\e803'; } /* '' */
.icon-helico2:before { content: '\e804'; } /* '' */
.icon-helico3:before { content: '\e805'; } /* '' */
.icon-helico2-o:before { content: '\e806'; } /* '' */
.icon-helico5:before { content: '\e807'; } /* '' */
.icon-helipad:before { content: '\e808'; } /* '' */
.icon-platform:before { content: '\e809'; } /* '' */