
.icon-helico4:before { content: '\e800'; } /* '' */
.icon-helico1:before { content: '\e801'; } /* '' */
.icon-helico1-o:before { content: '\e802'; } /* '' */
.icon-helico3-o:before { content: '\e803'; } /* '' */
.icon-helico2:before { content: '\e804'; } /* '' */
.icon-helico3:before { content: '\e805'; } /* '' */
.icon-helico2-o:before { content: '\e806'; } /* '' */
.icon-helico5:before { content: '\e807'; } /* '' */
.icon-helipad:before { content: '\e808'; } /* '' */
.icon-platform:before { content: '\e809'; } /* '' */